<div>
    <h2>
        Big Wheel
    </h2>
    <input type="number" id="w" disabled value="0" />
    <br />
    <h3>Small Wheels</h3>
    <div style="display: grid; grid-template-columns: repeat(4, 75px); text-align: center;">
        <input type="number" id="r0" value="0" />
        <input type="number" id="r1" value="0" />
        <input type="number" id="r2" value="0" />
        <input type="number" id="r3" value="0" />
        <input type="number" id="r4" value="0" />
        <input type="number" id="r5" value="0" />
        <input type="number" id="r6" value="0" />
        <input type="number" id="r7" value="0" />
    </div>
    <br />
    <label>Plate</label>
    <br />
    <input type="checkbox" id="gm-mode"/><label>GM Mode</label>
    <br />
    <div style="display: flex; flex-direction: row;">
        <textarea id="program" style="height: 500px; width: 200px;"></textarea>
        <div style="width: 300px; border: 1px solid black; margin: 5px;padding:  5px;" >
            <div style="width: 100%; display: grid; grid-template-columns: repeat(4, 2fr) 1fr repeat(10, 2fr); gap: 3px 3px;" id="card">
            </div>
        </div>
    </div>
    <br />
    <button id="crank">Crank!</button>
    <div id="info"></div>
    <br />
    <button id="save">Save To Plate</button>
    <br/>
    <textarea id="plate" disabled></textarea>
    <script src="./machine.js"></script>
</div>