<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
        <span class="menu-icon">
          <svg viewBox="0 0 18 15" width="18px" height="15px">
            <path
              d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z" />
          </svg>
        </span>
      </label>

      <div class="trigger">
        <span class="dropdown-trigger " href="#">

          <a href="{{"/rules" | relative_url}}" class="page-link">Rules</a>
          <div class="dropdown-menu">
            <a class="page-link" href="{{"/rules/core"|relative_url}}">Core</a>
            <a class="page-link" href="{{"/rules/inventory"|relative_url}}">Inventory</a>
            <a class="page-link" href="{{"/rules/prices"|relative_url}}">Prices</a>
            <div class="dropdown-separator" ></div>
            <a class="page-link" href="{{"/rules/combat"|relative_url}}">Combat</a>
            <a class="page-link" href="{{"/rules/exploration"|relative_url}}">Exploration</a>
            <div class="dropdown-separator" ></div>
            <a class="page-link" href="{{"/rules/characters"|relative_url}}">Character Creation</a>
            <a class="page-link" href="{{"/rules/races"|relative_url}}">Races</a>
            <a class="page-link" href="{{"/rules/attributes"|relative_url}}">Attributes</a>
            <a class="page-link" href="{{"/rules/occupations"|relative_url}}">Occupations</a>
            <a class="page-link" href="{{"/rules/classes"|relative_url}}">Classes</a>
          </div>
        </span>
        <span class="dropdown-trigger">
          <a class="page-link" href="{{ "/gazetteer" | relative_url}}">Gazetteer</a>
          <div class="dropdown-menu">
            <a class="page-link" href="{{"/gazetteer/religion" | relative_url}}">Religion</a>
          </div>

        </span>
        <span class="dropdown-trigger page-link" href="#">
          World
          <div class="dropdown-menu">
            <a class="page-link" href="{{"/lore" |relative_url}}">Lore</a>
            <a class="page-link" href="{{"/geography" |relative_url}}">Geography</a>
            <a class="page-link" href="{{ "/keep" | relative_url}}">Keep</a>
            <a class="page-link" href="{{ "/bestiary" | relative_url}}">Bestiary</a>
          </div>
        </span>
      </div>
    </nav>
  </div>
</header>