<h1 style="text-align: center;">
    <a href="https://reddit.com/r/AstoriaRPG/" aria-label="Reddit"><i class="fab fa-reddit"></i></a>
    <a href="https://discord.gg/ZBdwNnE" aria-label="Discord"><i class="fab fa-discord"></i></a>
    <br />
    <a href="https://gitlab.com/studio315b/astoria" aria-label="Gitlab"><i class="fab fa-gitlab"></i></a>
    <a href="https://astroia.studio315b.com/feed.xml" aria-label="RSS Feed">
        <i class="fas fa-rss-square"></i>
    </a>
</h1>
